<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<link rel="icon" href="img/icon.ico" type="image" sizes="128x128">
		<title>InfoSupri</title>
		<!-- Google font -->
 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" href="css/slick.css"/>
 		<link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

 		<!-- nouislider -->
 		<link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" href="css/font-awesome.min.css">

 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" href="css/style.css"/>


    </head>
	<body>
		
		<% include header %>
		
		<div class="section">
			
			<div class="container">
				
				<div class="row">

					<div class="col-md-7">
						
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Informações de entrega</h3>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="first-name" placeholder="Nome completo">
							</div>
							<div class="form-group">
								<input class="input" type="tel" name="tel" placeholder="Telefone">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" placeholder="Email">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="address" placeholder="Rua">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="city" placeholder="Cidade">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="zip-code" placeholder="CEP">
							</div>				
							
						</div>
					</div>

					
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Detalhes da compra</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>Produto</strong></div>
								<div><strong>Total</strong></div>
							</div>
							<div class="order-products">
								<div class="order-col">
									<div>Nome do primeiro produto</div>
									<div>R$ 000.00</div>
								</div>
								<div class="order-col">
									<div>Nome do segundo produto</div>
									<div>R$ 000.00</div>
								</div>
							</div>
							
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">R$ 000.00</strong></div>
							</div>
						</div>
						
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								Eu aceito os <a href="#">termos & condições</a>
							</label>
						</div>
						<a href="#" class="primary-btn order-submit">Gerar boleto</a>
					</div>
					
				</div>
				
			</div>
			
		</div>
		

		<% include footer %>

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
