<footer id="footer">
			
    <div class="section">
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                </div>

                <div class="col-md-3">
                    <div class="footer">
                        <h3 class="footer-title">Sobre nós</h3>
                        <p>Descrição da loja</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>Endereço</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>(83)99900-7645</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>equipeacl@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer">
                        <h3 class="footer-title">Categorias</h3>
                        <ul class="footer-links">
                            <li><a href="/estoque">Notebooks</a></li>
                            <li><a href="/estoque">Teclados</a></li>
                            <li><a href="/estoque">Mouses</a></li>
                            <li><a href="/estoque">Hardwares</a></li>
                        </ul>
                    </div>
                </div>

                

                <div class="col-md-3">
                    <div class="footer">
                        <h3 class="footer-title">Serviço</h3>
                        <ul class="footer-links">
                            <li><a href="/minha-conta">Minha conta</a></li>
                            <li><a href="/checkout">Visualizar carrinho</a></li>
                            <li><a href="/">Ajuda</a></li>
                        </ul>
                    </div>
                </div>
            </div>				
        </div>
    </div>
    

    
    <div id="bottom-footer" class="section">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="copyright">
                        
                        EquipeACL &copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservados.
                    
                    </span>
                </div>
            </div>
                
        </div>
        
    </div>
    
</footer>