<!DOCTYPE HTML>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="img/icon.ico" type="image" sizes="128x128">
    <title>InfoSupri</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" />
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

</head>

<body>
    
    <% include header %>

    <div class="section">
        <div class="container">
            <div class="row">
                <h3 class="title-pag">Meus pedidos</h3>
                <div class="col-md-10">
                    <div class="container-fluied">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Produto - Categoria - Preço</th>
                                    <th>Total</th>
                                    <th>Ações</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="produtos-compra col-md-5">
                                        <div class="itens-produto">
                                            <div class="cada-item">Notebook Lenovo - Notebook - R$ 1.500,000</div>
                                            <div class="cada-item">Teclado Samsumg - Mouse - R$ 25,000</div>
                                            <div class="cada-item">Mouse Multilaser - Teclado - R$ 58,000</div>
                                            <div class="cada-item">Placa de Rede Ethernet - Hardware - R$ 260,000</div>
                                            <div class="cada-item">Notebook Lenovo - Notebook - R$ 1.500,000</div>
                                        </div>
                                    </td>
                                    <td>R$ 230,00</td>
                                    <td>
                                        <button class="btn btn-primary">Confirmar recebimento</button>
                                    </td>
                                    <td>
                                       <div class="compra-aberta">ABERTA</div>
                                    </td>
                                </tr>  
                                <tr>
                                        <td class="produtos-compra col-md-5">
                                            <div class="itens-produto">
                                                <div class="cada-item">Notebook Lenovo - Notebook - R$ 1.500,000</div>
                                                <div class="cada-item">Teclado Samsumg - Mouse - R$ 25,000</div>
                                                <div class="cada-item">Mouse Multilaser - Teclado - R$ 58,000</div>
                                                <div class="cada-item">Placa de Rede Ethernet - Hardware - R$ 260,000</div>
                                                <div class="cada-item">Notebook Lenovo - Notebook - R$ 1.500,000</div>
                                            </div>
                                        </td>
                                        <td>R$ 550,00</td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                           <div class="compra-fechada">FECHADA</div>
                                        </td>
                                    </tr>                           

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <% include footer %>

        <!-- jQuery Plugins -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/nouislider.min.js"></script>
        <script src="js/jquery.zoom.min.js"></script>
        <script src="js/main.js"></script>

</body>

</html>