<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	 
	 	<link rel="icon" href="img/icon.ico" type="image" sizes="128x128">
		<title>InfoSupri</title>		 
		
		<!-- Google font -->
 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" href="css/slick.css"/>
 		<link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

 		<!-- nouislider -->
 		<link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" href="css/font-awesome.min.css">

 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" href="css/style.css"/>

    </head>
	<body>
		
		<% include header %>

		<div class="section">
			
			<div class="container">
				
				<div class="row">
					
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="./img/produto.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/produto.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/produto.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/produto.png" alt="">
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="./img/produto.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/produto.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/produto.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/produto.png" alt="">
							</div>
						</div>
					</div>
					

					
					<div class="col-md-5">
						<div class="product-details">
							<br>
							<br>
							<br>
							<h2 class="product-name">Nome do produto</h2>
							<div>
								<h3 class="product-price">R$ 000.00</h3>
								<span class="product-available">Informação adicional</span>
							</div>
							<p>Descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto.</p>

							<br>
							<br>
							<br>
							<div class="add-to-cart">
								<div class="row">
									<div class="qty-label">
									Quantidade: 
									<div class="input-number">
										<input type="number">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
									</div>
									<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Adicionar so carrinho</button>
								</div>
							</div>

							<ul class="product-links">
								<li>Categoria: </li>
								<li><a href="#">Notebooks</a></li>
							</ul>

							

						</div>
					</div>
					<!-- /Product details -->

					
					<div class="col-md-12">
						<div id="product-tab">
							
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Descrição</a></li>
								<li><a data-toggle="tab" href="#tab2">Detalhes</a></li>
							</ul>
							

							<div class="tab-content">
								
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
											<p>Descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto.</p>
										</div>
									</div>
								</div>
								
								
								<div id="tab2" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12">
											<p>Detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto detalhes do produto.</p>
										</div>
									</div>
								</div>
								

							</div>
							
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		<% include footer %>

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
